/* *font-faces



*/


/* ******************** classen ******************** */

/* * header */
.colorHeader {
    color: #042a5a;
    background-color: #efe8d7;
}

.colorSectionMitTabelle {
    color: #282B29;
    background-color: #f4c4c4;
}

.colorSectionMitBildern {
    color: #7d2227;
    background-color: #deb873;
}

.colorFooter {
    color: #388883;
    background-color: #d2d2d2;
}

/* *header bildÜberschrift, 2xmain Seiten überschrift, footer Seiten überschrift */
.fontSizeSeitenÜberschrift {
    font-size: 10rem;
    width: 10vw;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 1260px;
    /* *Seite auf Mac Book breite angepasst */
    scroll-behavior: smooth;
}

header section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    border-bottom: 0.02rem solid grey;
}

.bildÜberschrift {
    background-color: red;
    font-size: 10rem;
    text-align: center;
    margin: 0 10vw;
    width: 80vw;
    stext-decoration: underline 0.05rem;
    /* ? wie macht man Strich der nach rechts vesezt ist */
    stext-underline-offset: 2rem;
    border-bottom: 2px solid #282B29;
}


header img {
    /* ? wieso geht es nicht mit class .bildHeader anzusprechen? */
    display: block;
    background-color: red;
    margin: 3rem auto 0;
}

header article {
    display: flex;
    width: 26vw;
    /* ? wie richte ich das Bild mittig in der Seite aus ? */
    margin: 0 auto;
    flex-wrap: wrap;
}

.bildHeaderUntertitel {
    margin-top: 1rem;
}

.bildHeaderUntertitel span {
    font-size: 1.5rem;
}

/* ********************* section mit Tabelle ********************* */



.abstandDerUngeradenSeitenNummerierung {
    padding-top: 3rem;
    padding-left: 4rem;
}

.abstandDerGeradenSeitenNummerierung {
    padding-top: 3rem;
    padding-right: 4rem;
    text-align: right;
}



.colorSectionMitTabelle>p:nth-of-type(3) {
    text-align: right;
    padding-right: 5rem;
    margin-left: 50vw;
    line-height: 2rem;
}


.colorSectionMitTabelle>p:nth-of-type(4) {
    text-align: right;
    padding-right: 5rem;
    margin-top: 2rem;

}

/* ********************** section articel mit Tabelle ****************** */

.grid__Tabelle__3Spalten3Zeilen{
    width: 50vw;
    margin-left: 45vw;
    display: grid;
    grid-template-columns: 5vw 10vw 35vw;
}

.grid__letzteSpalte--style{
    padding-top: 2vh;
    height: 15vh;
    padding-left: 27vw;
    text-align: right;
    border-top: 2px solid #8E7776;
}

.zeileUnten{
    border-bottom: 2px solid #8E7776;
}
.grid__letzteSpalte--style{
    padding-top: 2vh;
    height: 15vh;
    padding-left: 26.5vw;
    text-align: right;
    border-top: 2px solid #8E7776;
}

.grid__ersteUndZweiteSpalte--style{
    border-top: 2px solid #8E7776;
    padding-top: 6vh;
}



/* ************************ logo *********************** */





.articel__imgLogoWork--style>img{
    width: 10vw;
    margin-left: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}




/* *************************  secton mit Bildern ******************* */

/* .textRechtsAusgerichtet{
    sbackground-color: yellow;
   s text-align: right;
smargin-left: 70vw;} */


#wortRechtsAusrichten {
    text-align: right;
    margin-left: 68vw;
    width: 24.5rem;
}


.textÜberBildern {
    margin-left: 4rem;
    width: 40vw;
    line-height: 2rem;
}




/* **************************** erstes Bild ************************ */

.ungeradeBildArticel {
    margin: 6rem 5rem 6rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
}

.ungeradeBildArticel p {
    font-size: 5rem;
    margin-right: -2rem;
    z-index: 2;
    /* * macht überlagerung */
    order: 0;
    /* * text kommt zuerst */
}

.ungeradeBildArticel img {
    z-index: 1;
    width: 48vw;
    order: 1;
}

/* ********************************** gerade Bilder ************************ */

.geradeBildArticel {
    margin: 6rem 5rem 0rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
}

.geradeBildArticel p {
    font-size: 5rem;
    margin-left: -2rem;
    z-index: 2;
    /* * macht überlagerung */
    order: 1;
    /* * text kommt zuerst */
    text-align: right;
}

.geradeBildArticel img {
    z-index: 1;
    width: 48vw;
    order: 0;
}

/* ********************************* footer ************************** */


footer>p:nth-of-type(3) {
    text-align: left;
    width: 23vw;
    line-height: 2rem;
    margin: 5rem auto 10rem;
}

footer nav {
    width: 4rem;
    text-align: right;
    margin-left: 88vw;
}

footer nav a {
    text-decoration: none;
    width: 10rem;
    color: #388883
}

