/* *font-faces



*/


/* ******************** classen ******************** */

/* * header */
.colorHeader {
    color: #042a5a;
    background-color: #efe8d7;
}

.colorSectionMitTabelle {
    color: #282B29;
    background-color: #f4c4c4;
}

.colorSectionMitBildern {
    color: #7d2227;
    background-color: #deb873;
}

.colorFooter {
    color: #388883;
    background-color: #d2d2d2;
}

/* *header bildÜberschrift, 2xmain Seiten überschrift, footer Seiten überschrift */
.fontSizeSeitenÜberschrift {
    font-size: 10rem;
    width: 10vw;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 1260px;
    /* *Seite auf Mac Book breite angepasst */
    scroll-behavior: smooth;
}

header section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    border-bottom: 0.02rem solid grey;
}

.bildÜberschrift {
    font-size: 10rem;
    text-align: left;
    margin: 0 10vw;
    text-decoration: underline 0.5rem;
    /* ? wie macht man Strich der nach rechts vesezt ist */
    text-underline-offset: 2rem;
}

header img {
    /* ? wieso geht es nicht mit class .bildHeader anzusprechen? */
    display: block;
    background-color: red;
    margin: 3rem auto 0;
}

header article {
    display: flex;
    width: 26vw;
    /* ? wie richte ich das Bild mittig in der Seite aus ? */
    margin: 0 auto;
    flex-wrap: wrap;
}

.bildHeaderUntertitel {
    margin-top: 1rem;
}

.bildHeaderUntertitel span {
    font-size: 1.5rem;
}

/* ********************* section mit Tabelle ********************* */



.abstandDerUngeradenSeitenNummerierung{
    padding-top: 3rem;
    padding-left: 4rem;
}

.abstandDerGeradenSeitenNummerierung{
    padding-top: 3rem;
    padding-right: 4rem;
    text-align: right;
}



.colorSectionMitTabelle>p:nth-of-type(3) {
    text-align: right;
    padding-right: 5rem;
    margin-left: 50vw;
    line-height: 2rem;
}


.colorSectionMitTabelle>p:nth-of-type(4) {
    text-align: right;
    padding-right: 5rem;
    margin-top: 2rem;

}

/* ********************** section articel mit Tabelle ****************** */

.colorSectionMitTabelle article {
    background-color: red;
    display: flex;
    margin-left: 42.5vw;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    ;

}

.colorSectionMitTabelle article>p {
    color: blue;
    background-color: yellow;
    width: 12rem;
    sheight: 6rem;
    margin-top: 1rem;
    align-items: baseline;
}



/* *spricht jedes 3te an, also Linke Spalete der Tabelle */
.colorSectionMitTabelle article>p:nth-of-type(3n + 1) {
    text-align: right;
    text-
}

.colorSectionMitTabelle article>p:nth-of-type(3n + 2) {
    text-align: left;
    font-size: 1.4rem;
}

.colorSectionMitTabelle article>p:nth-of-type(3n + 3) {
    text-align: right;
    padding-left: 5.2rem;
    word-wrap: inherit;
}



/* ************************ logo *********************** */

.logoWork{
    width: 10rem;
    margin-top: 10rem;
    margin-left: 80vw;
    margin-bottom: 10rem;
}




/* *************************  secton mit Bildern ******************* */

/* .textRechtsAusgerichtet{
    sbackground-color: yellow;
   s text-align: right;
smargin-left: 70vw;} */


#wortRechtsAusrichten{
text-align: right;
margin-left: 68vw;
width: 24.5rem;}


.textÜberBildern{
    margin-left: 4rem;
    width: 40vw;
    line-height: 2rem;
}




/* **************************** erstes Bild ************************ */

.ungeradeBildArticel{
    margin: 6rem 5rem 6rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
}

.ungeradeBildArticel p{
    font-size: 5rem;
    margin-right: -2rem;
    z-index: 2;     /* * macht überlagerung */
    order: 0;       /* * text kommt zuerst */
}

.ungeradeBildArticel img{
    z-index: 1;
    width: 48vw;
    order: 1;
}

/* ********************************** gerade Bilder ************************ */

.geradeBildArticel{
    margin: 6rem 5rem 0rem;
    display: flex;
    justify-content: space-between;
padding-bottom: 6rem;
}

.geradeBildArticel p{
    font-size: 5rem;
    margin-left: -2rem;
    z-index: 2;     /* * macht überlagerung */
    order: 1;       /* * text kommt zuerst */
    text-align: right;
}

.geradeBildArticel img{
    z-index: 1;
    width: 48vw;
    order: 0;
}

/* ********************************* footer ************************** */

